/* 输入框 */
.cins-input {
  border: 1px solid #eee;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 4px;
}

/* 按钮 */
.cins-button {
  background-color: #4387f7;
  border-radius: 4px;
  color: #fff;
  padding: 4px 10px;
  font-size: 12px;
  outline: none;
  &:active{
    background-color: #5697f7;
  }
}
