.content {
  display: flex;
}

/* 文字渐变色 */
.content .gray-text {
  color: transparent;
  font-size: 40px;
  background-image: linear-gradient(to right, orange, blue, #f60, purple);
  -webkit-background-clip: text;
}

/* 页面变灰的css */
.silence {
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
