.throttle-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 默认超出一行 */
.ellipsis-overflow {
  width: 200px;
  padding: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid #eee;
}
.ellipsis {
  display: -webkit-box;
  width: 200px;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  border: 1px solid #eee;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.ellipsis-double {
  -webkit-line-clamp: 2;
}
.ellipsis-triple {
  -webkit-line-clamp: 3;
}
