/* 输入框 */
.cins-input {
  border: 1px solid #eee;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 4px;
}

/* 按钮 */
.cins-button {
  background-color: #4387f7;
  border-radius: 4px;
  color: #fff;
  padding: 4px 10px;
  font-size: 12px;
  outline: none;
  &:active{
    background-color: #5697f7;
  }
}

/* 通用样式 */
.flex{
  display: flex;
}

.flex-between{
  display: flex;
  justify-content: space-between;
}

.flex-around{
  display: flex;
  justify-content: space-around;
}

.ft-max{
  font-size: 30px;
}

.ft-bold{
  font-weight: bold;
}

.align-center{
  text-align: center;
}
